
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div> 
        <h1>Default controller Contact action method (with links)</h1>
        <a href="/Default/Home"> Home </a> <br/>
        <a href="/Default/About">About</a> <br />
        <a href="/Home/Index">Home-Index</a>
    </div>
</body>
</html>
