

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnnualExam</title>
</head>
<body>
    <div>
        <h1>Classwork Controller Exam action method (diff view and action method name)</h1>
        <a href="/ClassWork/Assignments">Assignments</a> 
        <ul>
            <li>Asp.net </li>
            <li>Asp.net MVC</li>
            <li>.net Core</li>
        </ul>
    </div>
</body>
</html>
