

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assignments</title>
</head>
<body>
    <div> 
        <h1>Classwork Controller Assignments action method (same view and action method name)</h1>
        <a href="/ClassWork/Exam">Exams</a>
        <ul>
            <li>Create a Controller </li>
            <li>Add action methods</li>
            <li>Add views</li>
        </ul>
    </div>
</body>
</html>
