
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h1>Home controller Aboutus action method (with view name as About and action method name as AboutUs  (Diffrent view name and action method name))</h1>
        
    </div>
</body>
</html>
